CSharp/DataService/Client/Service References/DataService/WCFDataService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CommonLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CommonLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Employee">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ManagableElement">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RollNumber" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Employee" nillable="true" type="tns:Employee" />
  <xs:complexType name="ManagableElement">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="ManagableElement" nillable="true" type="tns:ManagableElement" />
  <xs:complexType name="Student">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ManagableElement">
        <xs:sequence>
          <xs:element minOccurs="0" name="Class" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StudentName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Student" nillable="true" type="tns:Student" />
</xs:schema>